---
layout: base.njk
title: Page Not Found (404)
permalink: /en/404.html
eleventyExcludeFromCollections: true
noindex: true
lang: en
---
<h1>404: Page Not Found</h1>
<p class="lead">Sorry, the page you are looking for has flown to outer space 🚀</p>
<div class="cta">
  <p>Let's head back to earth and see what else we have:</p>
  <a href="/en/" class="btn">Return to Homepage</a>
</div>
