---
layout: base.njk
title: 页面未找到 (404)
permalink: 404.html
eleventyExcludeFromCollections: true
noindex: true
---
<h1>404: 页面未找到</h1>
<p class="lead">抱歉，你访问的页面似乎已经飞往外太空了 🚀</p>
<div class="cta">
  <p>不如回地球看看其他好东西：</p>
  <a href="/" class="btn">返回首页</a>
</div>
