---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if not page.data.excludeFromSitemap and not page.data.noindex and page.url and page.url != "/404.html" and page.url != "/en/404.html" and page.url != "/sitemap.xml" %}
  <url>
    <loc>{{ site.url }}{{ page.url | url }}</loc>
    {%- set pageLastMod = (page.data.lastModified or page.data.lastmod) | formatLastmod -%}
    {%- if pageLastMod %}
    <lastmod>{{ pageLastMod }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
