---
permalink: /sitemap-index.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap>
    <loc>{{ site.url }}/sitemap-en.xml</loc>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemap-zh.xml</loc>
  </sitemap>
</sitemapindex>
